# .github/workflows/publish.yml

name: Publish Package to npmjs

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Release"]
    types:
      - completed
  
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
            node-version: '20.x'
            registry-url: 'https://registry.npmjs.org'
      - run: npm ci
      - run: npm version ${TAG_NAME} --git-tag-version=false
        env:
          TAG_NAME: ${{ github.event.workflow_run.head_branch }}
      - run: npm whoami; npm publish --ignore-scripts --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}